---
interface Props {
  titulo: string;
  institucion: string;
  descripcion: string;
  inicio: string;
  fin: string;
  link: string;
}
const { titulo, institucion, descripcion, inicio, fin, link } = Astro.props;
---

<div class="overflow-hidden rounded flex flex-col justify-between">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{titulo}</div>
    <hr class="mr-20 border-black" />
    <p class="text-gray-700 text-base my-2 mt-3">
      - {institucion}
    </p>
    <p class="text-gray-700 text-base">
      {descripcion}
    </p>
  </div>

  <div class="px-6 py-4 flex items-baseline justify-between">
    <p class="text-gray-700 text-base">
      Periodo: {inicio}-{fin}
    </p>
    {
      link && (
        <a
          id="cer"
          target="_blank"
          href={link}
          class="text-black bg-green-300 hover:bg-neutral-800 hover:text-slate-300 hover:ring-green-300 ring-2 ring-green-500 rounded p-2"
        >
          Certificado
        </a>
      )
    }
  </div>
</div>
