---
interface Props {
  titulo: string;
  institucion: string;
  descripcion: string;
  inicio: string;
  fin: string;
  link: string;
}
const { titulo, institucion, descripcion, inicio, fin, link } = Astro.props;
---

<div
  class="max-w-sm rounded overflow-hidden flex flex-col justify-between shadow-sm shadow-black bg-gradient-to-tl from-yellow-200 via-orange-200 to-yellow-200"
>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{titulo}</div>
    <p class="text-gray-700 text-base">
      {institucion}
    </p>
    <p class="text-gray-700 text-base">
      {descripcion}
    </p>
  </div>

  <div class="px-6 py-4">
    <div class="pb-2">
      <p class="text-gray-700 text-base">
        Periodo: {inicio}-{fin}
      </p>
    </div>
    <a href={link} class="text-indigo-500 hover:text-indigo-700">Certificado</a>
  </div>
</div>
