---
interface Props {
  titulo: string;
  institucion: string;
  descripcion: string;
  inicio: string;
  fin: string;
  link: string;
}
const { titulo, institucion, descripcion, inicio, fin, link } = Astro.props;
---

<div
  class="overflow-hidden rounded ring-1 flex flex-col justify-between hover:bg-gradient-to-br from-transparent to-green-800"
>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{titulo}</div>
    <hr class="mr-20 border-black" />
    <p class="text-gray-700 text-base mt-2">
      {institucion}
    </p>
    <p class="text-gray-700 text-base">
      {descripcion}
    </p>
  </div>

  <div class="px-6 py-4">
    <div class="pb-2">
      <p class="text-gray-700 text-base">
        Periodo: {inicio}-{fin}
      </p>
    </div>
    <a href={link} class="text-indigo-500 hover:text-indigo-700">Certificado</a>
  </div>
</div>
