---
interface Props {
  titulo: string;
  descripcion: string;
  tecnos: string[];
  codigo: string;
  enlace: string;
}
const { titulo, descripcion, tecnos, codigo, enlace } = Astro.props;

import Tecnos from "../components/Tecnologias.astro";
---

<div
  class="relative rounded overflow-hidden shadow-lg h-full w-full bg-stone-700"
>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{titulo}</div>
    <p class="text-gray-700 text-base">
      {descripcion}
    </p>
  </div>
  <div class="px-6 py-4">
    <ul class="pb-4 flex flex-row justify-between">
      {tecnos.map((tecno) => <Tecnos tecno={tecno} />)}
    </ul>
    <a href={codigo} class="text-indigo-500 hover:text-indigo-700">Code</a>
    <a href={enlace} class="text-indigo-500 hover:text-indigo-700 ml-2">Link</a>
  </div>
</div>
