---
import Data from "../data.json";
import ProyectosItem from "../components/ProyectosItem.astro";
---

<section id="Proyectos" class="proyectos mx-2">
  <div class="pb-8 pt-6 flex items-center align-middle flex-col mx-2 md:mx-24">
    <h1 class="text-4xl font-bold text-center text-gray-900">Proyectos</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-4 mt-5">
      {
        Data.proyectos.map((elemento) => (
          <ProyectosItem
            titulo={elemento.nombre}
            descripcion={elemento.descripcion}
            tecnos={elemento.tecnologias}
            codigo={elemento.codigo}
            enlace={elemento.enlace}
          />
        ))
      }
    </div>
  </div>
</section>
